.navbar{
  padding: 10px;
}
.navbar-brand{
  margin-left:0px;
}
.logo{
  float: left;
  width:10%;
  margin-right: 10px;
  border-radius: 100%;

}
h3{
  margin-top: 5px;
  font-size:3vw;
}
#testimonials{
  padding-top: 50px;
}
.cutimg{
  height: 400px;
}
p{
  display: inline;
}
#services{
  background-color: #e0e0e0;
}
.C1{
  padding-bottom: 20px;
}
.C2{
padding-top: 50px;
}
.moto-cell{
  overflow: hidden;
align-items: center;
}
.moto-cell img{
  transition: transform 1s;
}
.moto-cell:hover img{

   transform: scale(1.2);
}
.services_img {
  height: 80%;
}
.moto-cell .img_content{
  background-color: #0d47a1;
    text-align: center;
    color: white;
}
.C3 {
 display: flex;
 justify-content: center;
 align-items:center;
}
